pip~=25.1.1
wheel~=0.41.2
Jinja2~=3.1.6
pytz~=2025.2
zipp~=3.23.0
numpy~=2.3.1
setuptools~=68.2.0
pandas~=2.3.1
MarkupSafe~=3.0.2
python-dateutil~=2.9.0.post0
typing_extensions~=4.14.1
plotly~=6.2.0
packaging~=25.0
narwhals~=1.47.0
urllib3~=2.5.0
idna~=3.10
certifi~=2025.7.14
requests~=2.32.4
dotenv~=0.9.9
python-dotenv~=1.1.1
dash~=3.1.1
blackscholes~=0.2.0
gunicorn~=23.0.0